#gg{
    max-width: 900px;
    width: 100%;
    height: auto;
}

#title {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 50pt;
    margin: 20px 0;
    color: #720505;
}

#text {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#text p{
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 15pt;
}

.title {
    font-family: "Inter", sans-serif;
    font-size: 40pt;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;

}

#loja {
    padding: 20px 0 20px 0;
}

#loja table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-spacing: 10px;
    border-collapse: separate;
}

#loja td {
    text-align: center;
    vertical-align: top;
    padding: 2px;
}

#loja img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    cursor: pointer;
    border: 2px solid transparent;
}

#loja img:hover {
    border-color: #720505;
}

#requestbutton {
  align-items: center;
  padding: 6px 14px;
  font-family: "Inter", sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#requestbutton a {
    color: #3D3D3D;
    font-size: 15pt;
    text-decoration: none;
}

#requestbutton a:hover {
    color: #3D3D3D;
    text-decoration: none;
}

#requestbutton a:visited {
    color: #3D3D3D;
    text-decoration: none;
}